<!DOCTYPE html>
<html>
<head>
  <title>BT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<%= yield %>

</body>
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>Thiết kế website - Design A website</TITLE>
</HEAD>
<BODY>
            <h1>Lê Thùy Trang</h1>
            <p>Năm sinh: 1995</p>
             <p>Sinh viên ngành công nghệ thông tin Khóa 2013 trường Đại học khoa học tự nhiên, chuyên ngành Hệ thống thông tin.</p>
            <b>Bộ môn: Thương mại điện tử.</b>
<ul>
          <li>Đề tài tìm hiểu HTML và CSS</li>
          
         
<br />
<br /> 
<b><i>Cảm ơn mọi người đã xem!</i></b>
</BODY>
</HTML>
</html>
